*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100vh;
    width: 100%;
    background-color: rgb(216, 219, 223);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: black;
    border-bottom: 1px solid white;
}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
nav ul a:hover {
	color: rgb(13, 173, 194);
	transition: 0,1s;
}
.image {
    width: 30%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 30px;
}
.content {
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translateX(10%);
}
h5 {
    color: black;
    letter-spacing: 0px;
    font-size: 50px;
}
span {
    color: rgb(13, 173, 194);
}
h4 {
    color: black;
    font-size: 65px;
    margin: 1% 0 1px;
}
h2 {
    color: black;
    font-size: 25px;
    margin-bottom: 3px;
}