*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 105vh;
    width: 100%;
    background-color: rgb(216, 219, 223);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: black;
    border-bottom: 1px solid white;
}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
nav ul a:hover {
	color: rgb(13, 173, 194);
	transition: 0,1s;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 75px;
    margin-bottom: 50px;
    text-align: center;
    margin: 5px;
}
.content p {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.box .icon {
    min-width: 75px;
    height: 75px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.text h3
{
    font-size: 25px;
    margin-bottom: auto;

}
.text p {
    font-size: 20px;
    margin-top: auto;
}