*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100vh;
    width: 100%;
    background-color: rgb(216, 219, 223);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: black;
    border-bottom: 1px solid white;
}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
nav ul a:hover {
	color: rgb(13, 173, 194);
	transition: 0,1s;
}
.Contact-text h2 {
    color: black;
    font-size: 85px;
    width: 100%;
    margin-bottom: 23px auto;
    text-align: center;
}