*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100vh;
    width: 100%;
    background-color: rgb(216, 219, 223);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: black;
    border-bottom: 1px solid white;
}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
nav ul a:hover {
	color: rgb(13, 173, 194);
	transition: 0,1s;

}
.button:hover {
    transform: scale(1.2);
    border: 2px solid rgb(13, 173, 194);
    background-color: transparent;
}
.Project {
    background-color: rgb(216, 219, 223);
    width: 100%;
    height: 10px;
    padding: 100px 0;

}
.title h2 {
    color: black;
    font-size: 85px;
    width: 100%;
    margin-bottom: 23px auto;
    text-align: center;
}
.Project h3 {
    color: black;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1px;
}
.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: transparent;
    border-radius: 20px;
    margin: 35px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 5px solid rgb(13, 173, 194);

}
.card h5 {
    color: black;
    font-size: 33px;
    margin-bottom: 15px;

}
.pra p {
    color: black;
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 25px;
    text-align: justify;
    
}